fastapi
uvicorn
requests
pinecone-client
langchain
langchain-openai
langchain-pinecone
langchain-community
langchain_google_genai
pandas
openpyxl
PyMuPDF
jinja2
python-multipart
fuzzywuzzy
gradio
python-dotenv
rq
redis
numpy
pytest
pytest-asyncio
python-Levenshtein
sentence-transformers
huggingface_hub
langchain-huggingface
langsmith
pymongo
tabulate
rank_bm25
ragas>=0.2,<0.3
datasets>=2.14
