fastapi
uvicorn
requests
pinecone-client
langchain
langchain-openai
langchain-pinecone
langchain-community
langchain_google_genai
pandas
openpyxl
PyMuPDF
jinja2
python-multipart
fuzzywuzzy
gradio
python-dotenv
rq
redis
numpy
pytest
python-Levenshtein
sentence-transformers
huggingface_hub
langchain-huggingface
langsmith
